/* HOME */

/* About */
section.about {
  justify-content: flex-start;
  align-items: center;

  padding: var(--size-section-padding-y) var(--size-section-padding-x);

  & p,
  span {
    font-size: 2rem;
    line-height: 3rem;

    animation-name: fade-in;
    animation-duration: 1.8s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-delay: 0.36s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
}

@media (width >= 600px) {
  section.about {
    justify-content: center;
    text-align: center;

    & p,
    span {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}

/* Works */
section.works {
  & ul.work-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-section-padding-y);

    margin-top: calc(var(--size-section-padding-y) / 2);
    padding: 0 var(--size-section-padding-x);

    list-style: none;

    & a {
      text-decoration: none;
    }
  }

  & .text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2,
    li {
      margin-bottom: 0;
    }

    & ul.tag-list {
      display: none;

      color: var(--color-on-background-subtle);
      list-style: none;

      & li + li:before {
        content: ', ';
      }
    }
  }
}

ul .thumbnails {
  margin-bottom: 1rem;

  width: 100%;

  aspect-ratio: 16 / 9;

  & .thumbnails-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    & img {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center center;

      transition: opacity 0.6s ease;

      &:hover {
        opacity: 0;
      }
    }

    & img + img {
      opacity: 0;
      transition: all 0.36s ease;

      &:hover {
        opacity: 1;
        transform: var(--transform-scale-m);
      }
    }
  }
}

@media (width >= 600px) {
  section.works {
    & .text {
      & ul.tag-list {
        display: flex;
      }
    }
  }
}

/* Projects */
section.projects {
  padding: calc(2 * var(--size-section-padding-y)) var(--size-section-padding-x)
    0 var(--size-section-padding-x);

  & ul.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.5 * var(--size-section-padding-y));

    padding: 0 var(--size-section-padding-x);

    list-style: none;

    & > li {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      min-width: 16rem;
    }

    & a {
      text-decoration: none;
    }

    & img {
      opacity: 0.36;
      transition: opacity 0.12s ease;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media (width >= 1024px) {
  section.projects {
    & ul.project-list {
      gap: var(--size-section-padding-y);
    }
  }
}

/* Contact */
section.contact {
  padding: calc(2 * var(--size-section-padding-y)) var(--size-section-padding-x);

  text-align: center;

  & ul.socials {
    display: flex;
    gap: 2rem;

    margin: 0 auto;

    list-style: none;
  }
}

/* SINGLE ENTRY */

/* Work */
section.work {
  padding: var(--size-section-padding-y) var(--size-section-padding-x);

  & h1 {
    color: var(--color-accent, var(--color-on-background));
  }

  & p {
    color: var(--color-on-background-subtle);
  }

  & p + .image-grid-container {
    margin-bottom: 2rem;
  }
}

/* Error */
section.error {
  padding: var(--size-section-padding-y) var(--size-section-padding-x);

  text-align: center;

  & h1 {
    color: var(--color-accent, var(--color-on-background));
  }
}
