.slideshow-container {
  display: flex;
  flex-direction: column;

  margin-bottom: var(--size-section-padding-y);
  width: 100%;

  & button {
    appearance: none;
    border: 0;
    outline: 0;

    cursor: pointer;

    &.target {
      background: transparent;

      & > img {
        width: 100%;
        height: 100%;

        object-fit: cover;

        transition: transform 0.36s ease;

        &:hover {
          transform: var(--transform-scale-m);
        }
      }
    }
  }
}

.slideshow-wrapper {
  position: relative;
  display: flex;

  width: 100%;
}

.slideshow-content-wrapper {
  width: 100%;
  height: 100%;

  /* border: var(--size-frame-border) solid hsl(0deg 0% 96%); */

  overflow: hidden;
}

.slideshow-content {
  display: flex;

  transition: transform 0.48s ease-in-out;

  & > button {
    width: 100%;
    flex: 1 0 auto;

    background: var(--color-background);
    aspect-ratio: 16 / 9;
  }
}

.slideshow-navigation {
  position: absolute;
  z-index: 1;
  top: 50%;

  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;

  color: transparent;
  background-color: var(--color-on-surface);
  /* background-color: var(--color-accent); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 2rem;

  cursor: pointer;

  transition: transform 0.24s ease;

  &:hover {
    transform: translateY(-50%) var(--transform-scale-l);
  }

  &.arrow-left {
    background-image: url('/assets/svg/arrow-left.svg');
    /* left: calc(var(--size-frame-border) * 4); */
    left: 2rem;
  }
  &.arrow-right {
    background-image: url('/assets/svg/arrow-right.svg');
    /* right: calc(var(--size-frame-border) * 4); */
    right: 2rem;
  }
}

.slideshow-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin-top: 1rem;

  & .pagination-dot {
    margin: 0.25rem;
    width: 0.5rem;
    height: 0.5rem;

    color: transparent;
    background-color: hsl(0deg, 0%, 36%);
    border-radius: 0.5rem;

    cursor: pointer;

    &.active {
      margin: 0;

      width: 1rem;
      height: 1rem;

      background-color: var(--color-accent);
    }
  }
}

.slideshow-modal {
  &:modal {
    margin: auto;

    max-width: 84vw;
    max-height: 84vh;

    background: transparent;

    border: 0;
    border-radius: 0.25rem;

    overflow: hidden;

    & > button {
      display: block;

      & > img {
        max-width: 84vw;
        max-height: 84vh;

        object-fit: contain;

        transition: transform 0.36s ease;

        &:hover {
          transform: var(--transform-scale-s);
        }
      }
    }
  }

  &::backdrop {
    background: hsla(0deg, 0%, 0%, 0.6);
    backdrop-filter: blur(6rem);
  }
}
