/* SVGs */
.svg-wrapper > svg {
  width: 100%;
  height: 100%;
}

/* Brand */
.brand-logo {
}

.brand-wordmark {
}

.brand-icon {
  width: 6rem;
  height: 6rem;
}

@media (width >= 600px) {
  .brand-icon {
    width: 8rem;
    height: 8rem;
  }
}

/* Icons */
.icon-social {
  width: 2rem;
  height: 2rem;
}

/* Random */

.shadow {
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.09);
}

.vignette {
  &::after {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    content: '';
    pointer-events: none;

    box-shadow: 0.5rem 0.5rem 5rem 0 rgba(0, 0, 0, 0.09) inset;
  }
}

.content-hidden > span {
  display: none;
}
