---
import BaseLayout from '@layouts/BaseLayout.astro'
import { tagLabels } from '@scripts/utilities'

export async function getStaticPaths() {
  const works = await Astro.glob('../../pages/work/*.mdx')
  const tags = [...new Set(works.map((work) => work.frontmatter.tags).flat())]

  return tags.map((tag) => {
    const filteredWorks = works.filter((work) =>
      work.frontmatter.tags.includes(tag)
    )

    return {
      params: { tag },
      props: { works: filteredWorks },
    }
  })
}

const { tag } = Astro.params
const { works } = Astro.props
---

<BaseLayout title={tagLabels[tag]}>
  <section>
    <div class='section-container'>
      <p>Work tagged with {tagLabels[tag] || tag}.</p>
      <ul>
        {
          works.map((work) => (
            <li>
              <a href={work.url}>{work.frontmatter.title}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
