---
import BaseLayout from '@layouts/BaseLayout.astro'
---

<BaseLayout title='404'>
  <article class='error'>
    <div class='section-container'>
      <h1>404</h1>
      <p>
        Sorry, could not find that page.<br />
        <a href='/'>Return to Home</a>
      </p>
    </div>
  </article>
</BaseLayout>
