---
import { generateWaves } from '@src/scripts/utilities'

const config = {
  shape: {
    color: 'var(--color-on-background)',
    cutoutColor: 'var(--color-background)',
  },
  waves: {
    color: 'var(--color-on-background)',
    opacity: 0.72,
    width: 0.6,
  },
}
---

<div class='svg-wrapper brand-icon'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='288'
    height='288'
    viewBox='0 0 288 288'
    fill='none'
  >
    <g opacity={config.waves.opacity}>
      <Fragment set:html={generateWaves(144, 174, config).join('')} />
    </g>
    <g opacity={config.waves.opacity}>
      <Fragment set:html={generateWaves(144, 114, config).join('')} />
    </g>
    <g>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M142.571 182.025C143.206 183.125 144.794 183.125 145.429 182.025L161.321 154.5L186.868 198.75H101.132L126.68 154.5L142.571 182.025ZM167.383 144L203.626 81.225C204.261 80.1251 203.467 78.75 202.197 78.75L85.8031 78.75C84.533 78.75 83.7391 80.125 84.3742 81.225L120.617 144L84.3742 206.775C83.7391 207.875 84.5329 209.25 85.8031 209.25H202.197C203.467 209.25 204.261 207.875 203.626 206.775L167.383 144ZM126.68 133.5L142.571 105.975C143.206 104.875 144.794 104.875 145.429 105.975L161.321 133.5L186.868 89.25L101.132 89.25L126.68 133.5ZM132.742 144L144 163.5L155.258 144L144 124.5L132.742 144Z'
        fill={config.shape.cutoutColor}></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M122.349 144L85.6732 80.475C85.6154 80.375 85.6876 80.25 85.8031 80.25L202.197 80.25C202.312 80.25 202.385 80.375 202.327 80.475L165.651 144L202.327 207.525C202.385 207.625 202.312 207.75 202.197 207.75H85.8031C85.6876 207.75 85.6154 207.625 85.6732 207.525L122.349 144ZM143.87 181.275C143.928 181.375 144.072 181.375 144.13 181.275L161.32 151.5L189.336 200.025C189.394 200.125 189.322 200.25 189.207 200.25H98.7935C98.678 200.25 98.6058 200.125 98.6636 200.025L126.679 151.5L143.87 181.275ZM126.679 136.5L98.6636 87.975C98.6058 87.875 98.678 87.75 98.7935 87.75L189.207 87.75C189.322 87.75 189.394 87.875 189.336 87.975L161.32 136.5L144.13 106.725C144.072 106.625 143.928 106.625 143.87 106.725L126.679 136.5ZM131.01 144L143.87 121.725C143.928 121.625 144.072 121.625 144.13 121.725L156.99 144L144.13 166.275C144.072 166.375 143.928 166.375 143.87 166.275L131.01 144Z'
        fill={config.shape.color}></path>
    </g>
  </svg>
</div>
