---
import BrandIcon from '@components/brand/Icon.astro'
---

{/* <footer transition:name='footer' transition:persist> */}
<footer>
  <div class='svg-wrapper brand-icon'>
    <BrandIcon />
  </div>
</footer>
