---
import BrandWordmark from '@components/brand/Wordmark.astro'
import SvgIcon from '@components/SvgIcon.astro'
---

<!-- <header transition:name='header' transition:persist> -->
<header>
  <nav class='responsive-container'>
    <div class='row'>
      <div class='column'>
        <a class='reverse-accent content-hidden' href='/'>
          <span>Reffan Liefde | Designer + Developer</span>
          <div class='svg-wrapper brand-wordmark'>
            <BrandWordmark />
          </div>
        </a>
      </div>
      <div class='column'>
        <ul class='navigation'>
          <!-- <li><a href='/'>Work</a></li> -->
          <!-- <li><a href='/about'>About</a></li> -->
          <li>
            <a
              class='reverse-accent content-hidden'
              href='mailto:mail@reffanliefde.nl'
            >
              <span>Email</span>
              <div class='svg-wrapper icon-social'>
                <SvgIcon icon='email' />
              </div>
            </a>
          </li>
          <li>
            <a
              class='reverse-accent content-hidden'
              href='https://github.com/reffan'
            >
              <span>GitHub</span>
              <div class='svg-wrapper icon-social'>
                <SvgIcon icon='github' />
              </div>
            </a>
          </li>
          <li>
            <a
              class='reverse-accent content-hidden'
              href='https://linkedin.com/in/reffanliefde'
            >
              <span>LinkedIn</span>
              <div class='svg-wrapper icon-social'>
                <SvgIcon icon='linkedin' />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- <div class='header-spacer' transition:name='header-spacer' transition:persist> -->
<div class='header-spacer'></div>
