---
---

<section class='about'>
  <div class='responsive-container'>
    <p>
      I'm a freelance Designer + Developer, specialized in Interface Design and
      Frontend Web Development.
    </p>
    <!-- <p>
      Developing pleasant sensations,<br />
      built upon good vibrations.
    </p> -->
    <!-- <a href='mailto:mail@reffanliefde.nl' class='cta shadow'>
      <img src='/assets/svg/arrow-right.svg' /> Open for work <img
        src='/assets/svg/arrow-left.svg'
      />
    </a> -->
  </div>
</section>
