---
---

<section class='about'>
  <div class='responsive-container'>
    <p>
      I'm a freelance Designer + Developer, specialized in Interface Design and
      Frontend Web Development.
    </p>
    <!-- <p>
      Developing pleasant sensations,<br />
      built upon good vibrations.
    </p> -->
  </div>
</section>
