---
import SvgIcon from '@components/SvgIcon.astro'
---

<section class='contact fades-in'>
  <div class='responsive-container'>
    <!-- <h1>Contact</h1> -->
    <p>
      Like what you see? Let's work together!<br />
      <a class='text-link' href='mailto:hello@reffanliefde.nl'
        >hello@reffanliefde.nl</a
      >
    </p>
    <ul class='socials'>
      {
        /* 
        <li>
          <a class='reverse-accent' href='https://behance.com/reffan'>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='behance' />
            </div>
          </a>
        </li>
      */
      }
      {
        /* 
        <li>
          <a class='reverse-accent' href='https://dribbble.com/reffanliefde'>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='dribbble' />
            </div>
          </a>
        </li>
      */
      }
      <li>
        <a class='reverse-accent' href='https://github.com/reffan'>
          <div class='svg-wrapper icon-social'>
            <SvgIcon icon='github' />
          </div>
        </a>
      </li>
      {
        /*
        <li>
          <a class='reverse-accent' href='https://twitter.com/reffanliefde'>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='twitter' />
            </div>
          </a>
        </li>
        */
      }
      {
        /*
        <li>
          <a class='reverse-accent' href='https://x.com/reffanliefde'>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='x' />
            </div>
          </a>
        </li>
        */
      }
      <li>
        <a class='reverse-accent' href='https://linkedin.com/in/reffanliefde'>
          <div class='svg-wrapper icon-social'>
            <SvgIcon icon='linkedin' />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
