---
import SvgIcon from '@components/SvgIcon.astro'
---

<section class='contact fades-in'>
  <div class='responsive-container'>
    {/* <h1>Contact</h1> */}
    <p style={{ marginBottom: 0 }}>Like what you see? Let's work together!</p>
    <p>
      <a class='text-link' href='mailto:mail@reffanliefde.nl'>
        mail@reffanliefde.nl
      </a>
    </p>
    <ul class='socials'>
      {
        /* 
        <li>
          <a class='reverse-accent link-content-hidden' href='https://behance.com/reffan'>
            <span>Behance</span>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='behance' />
            </div>
          </a>
        </li>
      */
      }
      {
        /* 
        <li>
          <a class='reverse-accent link-content-hidden' href='https://dribbble.com/reffanliefde'>
            <span>Dribbble</span>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='dribbble' />
            </div>
          </a>
        </li>
      */
      }
      <li>
        <a
          class='reverse-accent link-content-hidden'
          href='https://github.com/reffan'
        >
          <span>GitHub</span>
          <div class='svg-wrapper icon-social'>
            <SvgIcon icon='github' />
          </div>
        </a>
      </li>
      {
        /*
        <li>
          <a class='reverse-accent link-content-hidden' href='https://twitter.com/reffanliefde'>
            <span>Twitter</span>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='twitter' />
            </div>
          </a>
        </li>
        */
      }
      {
        /*
        <li>
          <a class='reverse-accent link-content-hidden' href='https://x.com/reffanliefde'>
            <span>X</span>
            <div class='svg-wrapper icon-social'>
              <SvgIcon icon='x' />
            </div>
          </a>
        </li>
        */
      }
      <li>
        <a
          class='reverse-accent link-content-hidden'
          href='https://linkedin.com/in/reffanliefde'
        >
          <span>LinkedIn</span>
          <div class='svg-wrapper icon-social'>
            <SvgIcon icon='linkedin' />
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
