---
// import { ViewTransitions } from 'astro:transitions'

import '@styles/_global.css'

import Ripples from '@components/Ripples.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

type Props = {
  title: string
}

const { pathname } = Astro.url
const { title } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>Reffan Liefde | {title}</title>

    <meta
      name='description'
      content='Freelance designer and developer, specialized in interface design and frontend web development.'
    />
    <meta
      name='keywords'
      content='design, development, ui, ux, web, frontend, backend, fullstack, html, css, sass, js, ts, react, reactjs'
    />
    <meta name='author' content='Reffan Liefde' />
    <meta name='generator' content={Astro.generator} />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Work+Sans:wght@300&display=swap'
      rel='stylesheet'
    />

    <link rel='sitemap' href='/sitemap-index.xml' />
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <noscript>
      <style>
        .slides-in,
        .fades-in {
          /* MARK: Always visible if JS is disabled. */
          opacity: 1 !important;
        }
      </style>
    </noscript>
    <!-- <img src='/assets/png/banner.png' alt='Available For Work' class='banner' /> -->
    <!-- <div class='ripples' transition:name='ripples' transition:persist> -->
    <div class='ripples'>
      <Ripples index={1} />
      <Ripples index={2} />
      <!-- <Ripples index={3} /> -->
    </div>
    <div class='wrapper'>
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import { setAccentColor } from '@scripts/accent-color'
      import { initFixedHeader } from '@scripts/fixed-header'
      import { initIntersectionObserver } from '@scripts/intersection-observer'

      const init = () => {
        setAccentColor()
        initFixedHeader()
        initIntersectionObserver()
      }

      init()
      document.addEventListener('astro:beforeload', init)
    </script>
  </body>
</html>
