---
import LayoutBase from '@layouts/Base.astro'

type Props = {
  title: string
}

const { title } = Astro.props
---

<LayoutBase title={title}>
  <section class='error'>
    <div class='responsive-container'>
      <slot />
    </div>
  </section>
</LayoutBase>
