---
import LayoutBase from '@layouts/Base.astro'
import SectionContact from '@layouts/sections/Contact.astro'

type Props = {
  frontmatter: {
    title: string
  }
}

const { frontmatter } = Astro.props
---

<LayoutBase title={frontmatter.title}>
  <section class='work fades-in'>
    <div class='responsive-container'>
      <slot />
    </div>
  </section>
  <SectionContact />
</LayoutBase>
