---
import BaseLayout from '@layouts/BaseLayout.astro'
import ContactSection from '@src/components/sections/ContactSection.astro'
import SocialsSection from '@src/components/sections/SocialsSection.astro'
import SpacerSection from '@src/components/sections/SpacerSection.astro'

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
  <article class='work fades-in'>
    <div class='section-container'>
      <slot />
    </div>
  </article>
  <ContactSection />
  <SocialsSection />
  <SpacerSection />
</BaseLayout>
